*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
/* --------------------Mainues----------------------------- */
.main-manue{
    height: 55px;
    background: rgb(82, 81, 81);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
}

.apps-show-icon{
    width: 20px;
    height: 20px;
    
}
.main-manue-container{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.mmc-gml-img{
    display: flex;
    gap: 20px;
    align-items: center;
}
.mmc-acount-apps{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
}
.account-icon{
    width: 20px;
    
}

/* ---------------goog logo----------- */

.g-logo-div{
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    width: 100%;
    height: max-content;
}
.google-icon{
    width: 18%;
}

/* ---------------------Search inputs--------------- */

.search-inputs{
    text-align: center;
    background-color: rgb(91, 150, 99);
}
.search-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    width: 450px;
    height: 50px;
    margin: auto;
    border: 1px solid #b8b8b8;
    border-radius: 50px;
}
.search-div:hover{
    box-shadow: 10px 10px 5px 12px lightblue;

}

.search-inputTag-div, input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.search-div img{
    width: 20px;
}
.search-icon{
    padding-left: 12px;
}
.sh-img-voice, .search-icon{
    display: flex;
    gap: 10px;
    padding-right: 12px;

}

/* ---------------center buttons------- */

.center-items{
 align-items: center;
}
.center-buttons{
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.center-buttons a{
    background-color: #f0efef;
    color: black;
    padding: 6px;
    text-decoration: none;
    border: 1.5px solid white;
    border-radius: 4px;
}
.center-buttons a:hover{
    border: 1.5px solid gray;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/* --------------Languages------------ */
.languages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;


}
/* -------------country-------- */

.country{
    border-bottom: 1px solid rgb(177, 174, 174);
    background-color: #e4e4e4;
    position:fixed;
    bottom:50px;
    width: 100vw;
}
.country-name{
    padding: 20px;
}

/* ----------------Footer------------- */
footer {
    position:fixed;
    bottom:0;
    width: 100vw;
}
.footer-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #e4e4e4;
    height: 50px;
   
}
.footer-items a{
    text-decoration: none;
    color: black;
}
.about-google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.google-terms{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}